@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic)

$break-small: 640px

$text-color: #030303
$bg-color: #fefefe

$header-font: 'Gentium Book Basic', 'Georgia', serif
$body-font: 'Georgia', serif

*
    background-color: $bg-color
    color: $text-color

h1, h2, h3, h4
    font-family: $header-font

.landing-container
    width: 65%
    margin: 2em auto 0
    font-family: $body-font

    li
        font-family: $header-font

    @media screen and (max-width: $break-small)
        width: 100%
        margin: 1em 0

    header
        font-size: 1.2em
        h1
            font-size: 4em
            margin: 0.4em 0

    ul
        margin-top: 5em
        margin-bottom: 3em
        list-style: none
        text-align: center


        li
            display: inline
            font-size: 2em
            margin-right: 2%
            @media screen and (max-width: $break-small)
                display: block
                margin-right: 0

    footer
        text-align: center
        font-size: 0.7em
        font-style: italic


.container
    width: 45em
    margin: 1em auto

    .blog-header
        h1
            margin: 0.6em 0

    .post-list
        .post-overview
            position: relative
            padding-left: 7em

            time
                position: absolute
                left: 0em
                top: 0.2em