@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic)

$break-small: 640px

$text-color: #030303
$bg-color: #fefefe

$header-font: 'Gentium Book Basic', 'Georgia', serif
$body-font: 'Georgia', serif

*
    background-color: $bg-color
    color: $text-color

h1, h2, h3, h4
    font-family: $header-font


.disclaimer
    text-align: center
    font-size: 0.8em

.nav
    list-style: none
    padding-left: 0
    li
        display: inline-block
        margin-right: 0.56em
        @media screen and (max-width: $break-small)
            display: block
            margin-right: 0

.landing-container
    width: 65%
    margin: 2em auto 0
    font-family: $body-font

    li
        font-family: $header-font

    @media screen and (max-width: $break-small)
        width: 100%
        margin: 1em 0

    header
        font-size: 1.2em
        h1
            font-size: 4em
            margin: 0.4em 0

    ul
        margin-top: 5em
        margin-bottom: 3em
        text-align: center

        li
            font-size: 2em

.container
    width: 45em
    margin: 1em auto

    @media screen and (max-width: $break-small)
        width: 100%

    .blog-header
        margin-bottom: 3em
        h1
            margin-bottom: 0
        p
            margin-top: 0.2em

    .nav
        font-size: 1.2em

    .post-list
        .post-overview
            margin: 1em
            position: relative
            padding-left: 7em

            time
                position: absolute
                left: 0em
                top: 0.2em

        @media screen and (max-width: $break-small)
            .post-overview
                margin: 0
                top: 0em
                padding-left: 0
                time
                    position: relative


    .blog-footer
        margin-top: 2em
        text-align: center