{% extends "base.html" %}
{% block title %}
    {{ article.title|striptags}}
{% endblock title %}

{% block content %}

    <div class="post">

        <header>
            <h1>{{ article.title }}</h1>
            <p class="date">Written on <time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%b %d, %Y') }}</time></p>
        </header>

        <article>
            {{ article.content }}
        </article>

        <footer>
            <p>This entry is posted in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>.</p>
        </footer>

        {% include "disqus.html" %}

    </div>

{% endblock content %}